html,
body {
  height: 100%;
}

h1 {
  margin-bottom: 0;
  padding: 20px;
  border-style: dotted;
  border-color: khaki;
  border-width: 5px 0 5px 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 0;
  line-height: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: dotted;
  border-color: khaki;
  border-width: 5px 0 5px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  line-height: 100%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

li {
  padding: 5px;
}

.dados-pessoais {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-style: dotted;
  border-color: khaki;
  border-width: 5px 0 5px 0;
  padding: 5px;
}

.dados-pessoais img {
  max-width: 172px;
  max-height: 256px;
  width: auto;
  height: auto;
}

#dados {
  margin-right: 10px;
}

#linkedin {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

#github {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
}

.links {
  font-size: 80%;
}

#linha {
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

table,
tr,
td,
th {
  font-size: 0.75rem;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
  margin-top: 10px;
}

#tabela {
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
}

#tecnologia {
  background-color: rgb(218, 218, 218);
}

#LinkedIn {
  text-align: center;
}

#java {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

#php {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#js {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

#html {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

#css {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

#sap {
  margin-right: 5px;
  margin-left: 5px;
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

#resumo {
  padding: 5px;
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
  text-align: justify;
  font-size: 1rem;
}

#experiências {
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
}

#voluntariados {
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
}

#experiênciaprofissionalvoluntário {
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

#descrição {
  padding: 5px;
  text-align: justify;
}

#formação {
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
  list-style-type: circle;
  list-style-position: inside;
}

#formacaolinha {
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

#formaçãonapra {
  text-align: justify;
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

#publicações {
  border-style: dotted;
  border-color: khaki;
  border-width: 0 0 5px 0;
  list-style-type: circle;
  list-style-position: inside;
  text-align: justify;
}

#formacaolinha {
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

#publicacaolinha {
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

#role {
  text-align: justify;
}

#empresarole {
  padding: 5px;
  list-style-type: circle;
  list-style-position: inside;
}

#site {
  position: relative;
  min-height: 100%;
}

footer {
  margin-left: -10px;
  margin-right: -10px;
  border-style: solid;
  border-color: khaki;
  border-width: 0 0 0 0;
  position: relative;
  bottom: 0;
}

#rodapé {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#CVCarta {
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 30px;
}
